body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
    background-image: url("world.png");
    background-size: contain;
    background-position-y: 50px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 80%;
    height: 90vh;
}

.question {
    background-color: peachpuff;
}

.title {
    width: 90%;
    padding: 2%;
    border-radius: 15px;
}

.flashcards {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-gap: 20px;
}

.flashcard,
.question,
.answer {
    width: 200px;
    height: 200px;
    border-radius: 15px;
}

.flashcard {
    background-color: antiquewhite;
    border: 3px solid darkolivegreen;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
    transform-style: preserve-3d;
}

.question,
.answer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
}

.answer {
    transform: rotateY(180deg);
    background-color: burlywood;
}

.flashcard:hover {
    transform: scale(1.1) rotateY(180deg);
    transition: ease-in 1s;
}